{%extend "base.html"%}
{%block content%}

<form action="/inventory{{inventory.id}}" method="post">
<div>
    <label for="item_name">Name:</label>
    <input type="text" id="item_name" name="name" value="{{inventory.item_name}}" required>
</div>
<div>
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" value="{{inventory.description}}" required autofocus>
</div>
<div>
<label for="stock_quantity">Quantity:</label>
<input type="number" id="Quantity" name="stock_quantity" value="{{inventory.stock_quantity}}" required autofocus>
</div>

<div>
<label for="buying_cost">Buying Cost:</label>
<input type="number" id="buying_cost" name="buying_cost" value="{{inventory.buying_cost}}" required autofocus>
</div>

<div>
    <label for="selling_cost">Selling Cost:</label>
    <input type="number" id="selling_cost" name="selling_cost" value="{{inventory.selling_cost}}" required autofocus>
    </div>

<div>
<label for="manufacturer">Manufacturer:</label>
<select id="manufacturer" name="manufacturer_id">
  {% for manufacturer in all_manufacturers %}
    <option value="{{ manufacturer.id }}"
      {% if book.author.id == manufacturer.id %} selected="selected"{% endif %}>
      {{ manufacturer.company_name() }}
    </option>
  {% endfor %}
</select>
</div>

<button type="submit">Update Book</button>

</form>

{% endblock %}
</form>