{%extends "base.html"%}
{%block content%}

<div class="inventory-container">

{%for inventory in all_inventory %}
     <div class="inventory">
        <div class="content">
            <a href="/inventory/{{inventory.id}}">{{inventory.item_name}}<span>Welcome!</span></a>
            <div class="item_name">
                Inventory id: {{inventory.id}}
                {{inventory.description}}
                <span class="manufacturer">{{inventory.manufacturer.description}}</span>
                <p><i>{{inventory.manufacturer.company_name}}</i></p>
                </div>
                <div class="buttons">
                    <form class="delete-form" action="/inventory/{{inventory.id}}/delete" method="POST">
                        <button class="trash-button" type="submit"><i class="fa fa-trash-o fa-3x" style="color:red" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>

        
    </div> 
    <p>{{inventory.item_name}}</p>
    {%endfor%} 
</div>
{% endblock %}
